* {
    box-sizing: border-box;
    margin: 0;
    padding: 0
}

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Work+Sans:wght@400;500;600;700;800&display=swap');

body {
    font-family: 'Work Sans', sans-serif;
}

body {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 13.13%, rgba(255, 66, 165, 0.03) 87.94%);
}

/* header section styles starts here */
.header-section {
    background: #fff;

}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
}

.nav-header {
    display: flex;
    align-items: center;
}

.nav-header img {
    width: 86px;
    height: 40px;
    object-fit: cover;
}

.nav-header h1 {
    margin-left: 20px;
    font-size: 2.85rem;
    text-align: center;
    font-weight: 700;
    color: #0B0223;
}

#gamer {
    color: #FF42A5;
}

.nav-content {
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-content a {
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    color: #3C354F;
    padding-right: 20px;
}

#follow-us {
    padding: 20px 25px;
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}

/* header styles ends here */
/* simple banner styles starts here */
.simple-banner-section {
    max-width: 1400px;
    margin: 0 auto;
}

.simple-banner-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.simple-banner-content h2 {
    color: #0B0223;
    font-size: 3rem;
    text-align: left;
    font-weight: 600;
}

.simple-banner-content h1 {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 6rem;
    text-align: left;
    font-weight: 800;
}

.simple-banner-content p {
    color: #534C64;
    font-size: 1.2rem;
    text-align: left;
    font-weight: 500;
}

.simple-banner-content p i {
    padding: 15px;
}

.banner-btn {
    display: flex;
    gap: 25px;
}

.banner-btn .sign-in-btn {
    background: #FF42A5;
    padding: 20px 40px;
    border: none;
    border-radius: 20px;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 600;
}

.banner-btn .go-btn {
    background: #4EC5F7;
    padding: 20px 40px;
    border: none;
    border-radius: 20px;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 600;
}

.simple-banner-img img {
    width: 100%;
}

/* gamer section styles starts here */
.gamer-section {
    max-width: 1400px;
    margin: 0 auto;
}

.gamer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.gamer-content {
    text-align: right;
}

.gamer-content h1 {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
    font-weight: 700;
}

.gamer-content p {
    color: #534C64;
    font-size: 18px;
    font-weight: 400;
}

.know-more-btn {
    background: #FF42A5;
    padding: 20px 40px;
    border: none;
    border-radius: 20px;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 600;
}

.gamer-content h4 {
    color: #534c64d5;
    font-size: 1rem;
}

.gamer-content h3 {
    color: #534C64;
    font-size: 1.5rem;
}

/* gamer section simple banner styles ends here */
/* online game container styles starts here */
.online-game-container {
    max-width: 1400px;
    margin: 0 auto;
}

.online-card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.online-game-container h1 {
    color: #0B0223;
    text-align: center;
    font-size: 3rem;
}

.online-game-container h1 span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.online-game-container p {
    color: #534C64;
    font-size: 1.15rem;
    text-align: center;
    padding-bottom: 40px;
}

.card {
    width: 300px;
}

.card p {
    color: #534C64;
    font-weight: 500;
    font-size: 1.25rem;
    text-align: center;
}

/* online game container styles ends here */
/* play instamt section styles starts here */
.play-instant-section {
    max-width: 1400px;
    margin: 0 auto;
}

.play-instant-container {
    margin-top: 200px;
    display: flex;
    align-items: safe;
    justify-content: space-between;
}

.play-instant-content {
    margin-top: 150px;
}

.play-instant-content h2,
.online-game-anywhere-content h2 {
    text-align: center;
    font-weight: 700;
    font-size: 3rem;
}

.play-instant-content h2 span,
.online-game-anywhere-content h2 span {
    color: #F948B2;
}

.play-instant-content p,
.online-game-anywhere-content p {
    text-align: center;
    color: #534C64;
    width: 450px;
    font-size: 1.125rem;
    font-weight: 400px;
}

.play-instant-img {
    width: 40%;
    margin-left: 10px;
}

.main-img,
.rectangle67 {
    width: 100%;
}

.small-img {
    width: 310px;
    position: relative;
    bottom: 250px;
    right: 160px;
}

/* play instamt section styles ends here */
/* Online game section styles starts here */
.online-game-anywhere-section {
    max-width: 1400px;
    margin: 0 auto;
}

.online-game-anywhere-container {
    display: flex;
    justify-content: space-between;

}

.online-game-anywhere-img {
    width: 55%;
}

.online-game-anywhere-img .rectangle78 {
    width: 310px;
    position: relative;
    bottom: 200px;
    left: 410px;
}

.online-game-anywhere-content {
    margin-top: 200px;
}

/* Online game section styles ends here */
/* career section styles here */
.career-section {
    margin-top: 40px;
    background: #FF42A5;
}

.career-container {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.career-content {
    /* text-align: center; */
    width: 50%;
}

.career-content-header {
    color: #FFF;
    font-size: 3rem;
    font-weight: 700;
}

.career-content p {
    color: #FFF;
    font-size: 1.125rem;
    margin: 30px 0;
    font-weight: 400;
}

.career-content-sub-para {
    display: flex;
    justify-content: space-between;
}

.second-para {
    text-align: right;
}

.career-content button {
    padding: 21px 40px;
    border: none;
    font-size: 1.25rem;
    border-radius: 48px;
    color: #F948B2;
    font-weight: 600;
    margin-bottom: 15px;
}

.career-img {
    width: 50%;
}

.career-img img {
    width: 100%;
}

/* the game banner section styles starts here */
.the-game-banner-section {
    max-width: 1400px;
    margin: 40px auto;
}

.the-game-banner-container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.the-game-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.the-game-card img {
    width: 60px;
    height: 60px;
}

.the-game-card p {
    margin-left: 8px;
    color: #0B0223;
    font-weight: 600;
    font-size: 1.125rem;
}

#third-game-card {
    border: 1.5px solid #F948B2;
    border-radius: 48px;
}

/* footer styles starts here */
footer {
    background: #0B0223;
}

.footer-container {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    padding: 20px;
    text-align: center;
}
.footer-container p{
    color: rgba(255, 255, 255, 0.60);
    font-size: 1rem;
    font-weight: 500;
}
.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    text-align: justify;
}

.footer-content p {
    color: #FFF;
    font-size: 1.125rem;
    font-weight: 600;
}

.footer-icon {
    font-size: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 35px;
}

.footer-icon a {
    color: #FFF;
}

.footer-privacy {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: justify;
    gap: 12px;
    color: rgba(255, 255, 255, 0.60);
    font-size: 1rem;
    font-weight: 500;
}