* {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Work+Sans:wght@400;500;600;700;800&display=swap');

body {
    font-family: 'Work Sans', sans-serif;
}

/* header section styles starts here */
.header-section {
    max-width: 1400px;
    margin: 0 auto;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-header {
    display: flex;
    align-items: center;
}

.nav-header img {
    width: 86px;
    height: 40px;
    object-fit: cover;
}

.nav-header h1 {
    margin-left: 20px;
    font-size: 2.85rem;
    text-align: center;
    font-weight: 700;
    color: #0B0223;
}

#gamer {
    color: #FF42A5;
}
.nav-content{
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-content a {
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    color: #3C354F;
    padding-right: 20px;
}

#follow-us {
    padding: 20px 25px;
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    gap: 5px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}