@media screen and (min-width:576px) and (max-width:992px) {
    .nav-container  {
        flex-direction: column;
    }

    .nav-content {
        width: 100%;
        padding: 0;
        gap: 25px;
    }

    .simple-banner-container {
        align-items: center;
    }

    .simple-banner-container {
        flex-direction: column-reverse;
    }

    .gamer-container,
    .play-instant-container, .online-game-anywhere-container ,.career-container{
        flex-direction: column;
    }

    .gamer-img img ,  .online-game-anywhere-img, .card{
        width: 100%;
    }

    .gamer-content {
        text-align: center;
    }

    .online-card-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .card img {
        width: 100%;
        height: 400px;
    }

    .play-instant-container,
    .play-instant-content, .online-game-anywhere-content {
        text-align: center;
        margin: 0%;
    }

    .play-instant-content p,  
    .online-game-anywhere-content p, .career-img{
        width: 100%;
    }

    .play-instant-img , .online-game-anywhere-img .rectangle67 {
        width: 100%;
        padding: 80px;
        margin: 0;
    }

    .play-instant-img .small-img {
        width: 230px;
        bottom: 170px;
        right: 220px;
    }
    .online-game-anywhere-img .rectangle78 {
        width: 193px;
        position: relative;
        bottom: 200px;
        left: 430px;
    }
    .career-img img{
        width: 100%;
    }
}